
.container {display: flex; width: 60rem; margin:0 auto;}
.container>* {padding: 0 0.75rem}


/* header*/

html {font-size: 20px;}
body {font-size: 0.8rem;}



#warp {min-width: 60rem;}
.header {line-height: 5rem;position: relative;}
.header img {width: 10rem;}
.header .container {justify-content: space-between;}

.gnb>ul {display: flex;}
.gnb>ul>li {position: relative;}
.gnb>ul>li>a {display: block; position: relative; padding: 0 1.5rem; font-size: 0.8rem;}
.gnb .sub_box {width: 17rem; position: absolute; top: 4rem; left: 50%; transform: translateX(-50%); background: #fff;z-index: 999;}
.gnb .depth02 {display: none; border: 1px solid #333;}
.gnb .depth02 a {display: block; font-size: 0.7rem; line-height: 1rem; padding: 1rem 0.5rem}
.gnb .sub_menu_03 {column-count: 3;}
.gnb .main_menu>li:hover .depth02 {display: block; text-align: center;}
.gnb .main_menu>li:hover .depth02 a:after {content: ""; display: block; width: 0; height: 2px; background: #ef151e;}
.gnb .main_menu>li:hover .depth02 a:hover:after {width: 100%; transition: 0.5s;}

.right_menu {justify-content: space-between;}
.right_menu a {padding-left: 1.5rem;}
.right_menu .mobile_open {display: none;}

.search {display:none; width: 100%; background: #fff;}
.search.on {display:block; position: absolute; top: 0 ;left: 50%; transform: translateX(-50%); text-align: center; border-bottom: 1px solid #ddd; z-index: 1000;}
.search input {outline: none; border: none; border-bottom: 1px solid #333; width: 10rem; font-size: 0;}
.search button {border: none; background: none; font-size: 1rem; font-family: 'Noto Sans KR', sans-serif; padding: 0 0.75rem;}


.main_slider figure {position:relative;}
.main_slider figure img {max-width: 100%;}
.main_slider .visual_01 {height:calc(100vh - 100px);background: url(../lib/base/slide_img01.jpg) no-repeat center center/cover;}
.main_slider .visual_02 {height:calc(100vh - 100px);background: url(../lib/base/slide_img02.jpg) no-repeat center center/cover;}
.main_slider .visual_03 {height:calc(100vh - 100px);background: url(../lib/base/slide_img03.jpg) no-repeat center center/cover;}
.main_slider .background {content: ""; background: rgba(0, 0, 0, 0.6);height:calc(100vh - 100px);}
.main_slider .text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.main_slider h2 {color: #fff; font-size: 3rem; font-weight: 400; padding-bottom: 3rem;}
.main_slider p {color: #fff; font-size: 1.2rem; font-weight: 100;}

.main_slider .sbar2 {position: absolute; bottom: 10%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 2px; background: #333;}
.main_slider .sbar2 span {display: block; width: 0; height: 100%; background: #f00; transition: 1s;}


.slogan {text-align: center; padding: 7.5rem 0 0.75rem 0;}
.slogan h2 {font-size: 2rem; font-weight: 100; margin-bottom: 2rem;}
.content_slider {position:relative;font-size:3rem;font-weight:700; letter-spacing: 4rem;}
.content_slider p {color:#333; margin-right: 50px}


@keyframes imgScale {
    0% {transform:scale(0.7);}
    10% {transform:scale(1);filter:grayscale(0)}
    90% {transform:scale(1);filter:grayscale(0)}
    100% {transform:scale(0.7);}
}

@keyframes opacIty {
    0% {transform:translateY(0);opacity:0;}
    10% {transform:translateY(-1.5rem);opacity:1;}
    90% {transform:translateY(-1.5rem);opacity:1;}
    100% {transform:translateY(0);opacity:0;}
}

.about {padding: 0.75rem 0 3.75rem 0;}
.about .container {display: flex; width: 60rem; margin: 0 auto;padding: 0 0.75rem;}
.about .container figure {flex: 1;}
.about .container figure img {max-width: 100%;}
.about .item01 {position: relative;}
.about .title_box01 {position: absolute; bottom: 50%; right:0%; transform: translate(0, 100%); width: 60%; height: 40%; background: rgba(255, 255, 255, 0.9); text-align: center; border-radius: 50px 0 0 0;}
.about .item02 {position: relative;}
.about .title_box02 {position: absolute; bottom: 50%; right:0%; transform: translate(0, 100%); width: 60%; height: 40%; background: rgba(255, 255, 255, 0.9); text-align: center; border-radius: 50px 0 0 0;}
.about h3 {font-size: 4rem; font-weight: 900;color: #aaa096; line-height: 12rem; text-align: center; font-family: 'Public Sans', sans-serif;}
.about h3:after {content: ""; display: block; width: 2.5rem; height: 3px; background: #ef151e; z-index: 4; margin: -3rem auto;}
.about .brands {position: relative;}
.about .item01 em {position: absolute; top: 55%; right: 20%; transform: translateX(-20%); font-size: 1rem; font-weight: 500;color: #ef151e; z-index: 15;}
.about .history {position: relative;}
.about .item02 em {position: absolute; top: 55%; right: 20%; transform: translateX(-20%); font-size: 1rem; font-weight: 500;color: #ef151e; z-index: 15;}
.about p {position: relative; font-size: 0.9rem; padding: 25px 0; line-height: 1.5rem; text-align: center; z-index: 15}


.sub_title {padding: 3.75rem 0;}
.sub_title .title {text-align: center;}
.sub_title .title h3 {font-size: 2rem; font-weight: 100; letter-spacing: 0.25rem; margin-bottom: 1rem;}
.sub_title .title p {font-size: 1rem; font-weight: 400; letter-spacing: -0.05rem;}


















@media (max-width:768px) {
    .container {display: flex; width: auto; margin:0 auto;}
    .container>* {padding: 0 0.75rem}
    
    
    /* header*/
    
    html {font-size: 20px;}
    body {font-size: 0.8rem;}
    
    
    
    #warp {min-width: auto;}
    .header {line-height: 5rem;position: relative;}
    .header img {width: 10rem;}
    .header .container {justify-content: space-between;}
    

    .gnb {position: fixed; top: 0; left: -100%; width: calc(100% - 4rem); transition: 0.4s;height:100vh; background: #fff; border-right: 1px solid #666; z-index: 999;}
    .gnb.on {left: 0}
    .gnb>ul {display: flex; flex-direction: column;}
    .gnb>ul>li {position: relative; top: 5rem;}
    .gnb>ul>li>a {display: block; position: relative; padding: 0 1.5rem; font-size: 0.7rem;}
    .gnb .sub_box {display: none; width: 100%; position: static; top: 4rem; left: 0; background: #f4f4f4; transform: translateX(0);z-index: 999;}
    .gnb .depth02 {display: none; border: 1px solid #333;}
    .gnb .depth02 a {display: block; font-size: 0.6rem; text-align: center; line-height: 1rem; padding: 1rem 0.5rem}
    .gnb .sub_menu_03 {column-count: 3;}
    .gnb .main_menu>li:hover .depth02 {display: none;}
    .gnb .main_menu>li:hover .depth02 a:after {content: ""; width: 0; height: 2px; background: #ef151e;}
    .gnb .main_menu>li:hover .depth02 a:hover:after { width: 100%; transition: 0.5s;}



    .right_menu {display: flex; justify-content: space-between;}
    .right_menu a {padding-left: 0.75rem;}
    .right_menu .mobile_open {display: block; padding-left: 0.75rem;}    

    
    .search {display:none; width: 100vw; background: #fff;}
    .search.on {display:block; position: absolute; top: -30 ;left: -50%; transform: translate(50%,50%); text-align: center; border: 1px solid #ddd; z-index: 1000;}
    .search input {outline: none; border: none; border-bottom: 1px solid #333; font-size: 1rem;}
    .search button {border: none; background: none; font-size: 1rem; font-family: 'Noto Sans KR', sans-serif; padding: 0 0.75rem;}

    .main_slider figure {position:relative;}
    .main_slider figure img {max-width: 100%;}
    .main_slider .visual_01 {height:calc(70vh - 100px);background: url(../lib/base/slide_img01.jpg) no-repeat center center/cover;}
    .main_slider .visual_02 {height:calc(70vh - 100px);background: url(../lib/base/slide_img02.jpg) no-repeat center center/cover;}
    .main_slider .visual_03 {height:calc(70vh - 100px);background: url(../lib/base/slide_img03.jpg) no-repeat center center/cover;}
    .main_slider .background {content: ""; background: rgba(0, 0, 0, 0.6);height:calc(100vh - 100px);}
    .main_slider .text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
    .main_slider h2 {color: #fff; font-size: 5vw; letter-spacing: -0.05rem; font-weight: 400; padding-bottom: 1rem;}
    .main_slider p {color: #fff; font-size: 2.5vw; letter-spacing: -0.1vw; font-weight: 100;}

    .main_slider .sbar2 {position: absolute; bottom: 40%; left: 50%; transform: translate(-50%, -50%); width: 300px; height: 2px; background: #333;}
    .main_slider .sbar2 span {display: block; width: 0; height: 100%; background: #f00; transition: 1s;}
    

    .slogan {text-align: center; padding: 3.75rem 0 1.875rem 0;}
    .slogan h2 {font-size: 1rem; font-weight: 100; margin-bottom: 1rem;}
    .content_slider {position:relative;font-size:2rem;font-weight:700; letter-spacing: 1rem;}
    .content_slider p {color:#333; margin-right: 50px}

    @keyframes imgScale { 
    0% {transform:scale(0.7);}
    10% {transform:scale(1);filter:grayscale(0)}
    90% {transform:scale(1);filter:grayscale(0)}
    100% {transform:scale(0.7);}
}

    @keyframes opacIty {
    0% {transform:translateY(0);opacity:0;}
    10% {transform:translateY(-1.5rem);opacity:1;}
    90% {transform:translateY(-1.5rem);opacity:1;}
    100% {transform:translateY(0);opacity:0;}
}

    .about {padding: 1.875rem 0;}
    .about .container {display: flex; flex-direction: column; width: auto; margin: 0 auto;}
    .about .container figure {flex:1 ;padding: 0 0.75rem;}
    .about .container figure img {max-width: 100%;}
    .about .item01 {position: relative; margin: 0 auto;}
    .about .title_box01 {position: absolute; top: 0vh; right:0%; transform: translate(0, 100%); width: 60%; height: 40%; background: rgba(255, 255, 255, 0.9); text-align: center; border-radius: 50px 0 0 0; z-index: 14;}
    .about .item02 {position: relative; margin: 0 auto;}
    .about .title_box02 {position: absolute; top: 0vh; right:0%; transform: translate(0, 100%); width: 60%; height: 40%; background: rgba(255, 255, 255, 0.9); text-align: center; border-radius: 50px 0 0 0; z-index: 14;}
    .about h3 {font-size: 3rem; font-weight: 900; color: #aaa096; line-height: 10rem;}
    .about h3:after {content: ""; display: block; width: 2.5rem; height: 3px; background: #ef151e; z-index: 4; margin: -3rem auto;}
    .about .brands {position: relative;}
    .about .item01 em {position: absolute; top: 45%; right: 18%; transform: translate(0, 45%); font-size: 1rem; font-weight: 500;color: #ef151e; z-index: 15;}
    .about .history {position: relative;}
    .about .item02 em {position: absolute; top: 45%; right: 18%; transform: translate(0, 45%);font-size: 1rem; font-weight: 500;color: #ef151e; z-index: 15;}
    .about p {position: relative; font-size: 0.8rem; font-weight: 400; line-height: 1.5rem; text-align: center; z-index: 15;}

}