/* 주석 */
body {background: #333; color: #fff; font-weight: 300; text-align: center;}

#car {margin: 200px 0; padding: 100px 0; position: relative;}

#car h2 {font-size: 18px; font-weight: 100; letter-spacing: 1em; margin-bottom: 20px;}
#car p {font-size: 14px; font-weight: 100; line-height:1; margin-bottom: 20px;} 

#car .container {width: 600px; height: 321px; margin: 0 auto; overflow: hidden; position: relative;}

#car .case {position: absolute; top: 0; left: 0;}

#car .btn {display: flex; justify-content: center;}
#car .btn li {width: 10px; height: 10px; background: #fff; border-radius: 50%; margin: 0 5px; cursor: pointer; text-indent: -9999px;}

/* text-indent: 수치 줘서 없앰 */


.sun {position: absolute; top: 150px; left: 150px; animation: sunmove 0.001s infinite linear;}
.sun img {width: 300px;}

@keyframes sunmove {
    to {transform: rotate(360deg)}
}

.bts {position: absolute; bottom: 250px; left: 150px; animation: bts 10s both;}
.bts figure { animation: btsw 1s infinite;}

.bts img {width: 100px;}

@keyframes btsw {
    0% {transform: scaleX(0)}
    50% {transform: scaleX(1)}
    100% {transform: scaleX(0)}
}

@keyframes bts {
    0% {transform: translate(0, 0) rotate(45deg)}
    10% {transform: translate(100px, -50px) rotate(70deg)}
    20% {transform: translate(200px, -100px) rotate(85deg)}
    30% {transform: translate(270px, -280px) rotate(70deg)}
    40% {transform: translate(400px, -360px) rotate(45deg)}
    50% {transform: translate(600px, -340px) rotate(45deg)}
    60% {transform: translate(500px, -240px) rotate(45deg)}
    70% {transform: translate(850px, -270px) rotate(45deg)}
    80% {transform: translate(900px, -210px) rotate(45deg)}
    90% {transform: translate(940px, -250px) rotate(45deg)}
    100% {transform: translate(1000px,-300px) rotate(-45deg)}
}