#wrap {}

#header {line-height: 100px; position: fixed; top:0; left:0; width: 100%; color: #fff; transition: 0.2s; z-index: 1}
#header:hover {background: #fff; color: #333;border-bottom: 1px solid #ddd}
#header.on {background: #fff; color: #333;border-bottom: 1px solid #ddd}
#header h1 img {width: 200px;}
#header h1 a {display: block; width: 200px; height: 100px; background: url(../img/logo.png) no-repeat left center/150px;}
#header.on h1 a {height: 100px; background: url(../img/logo_change.png) no-repeat left center/150px;}
#header:hover h1 a {width: 200px; height: 100px; background: url(../img/logo_change.png) no-repeat left center/150px;}
#header .container {display: flex; justify-content: space-between; width: 1200px; margin: 0 auto; padding: 0 15px;}

#header nav>ul {display: flex; justify-content: center;}
#header nav>ul>li>a {display: block; position: relative; padding: 0 30px; font-size: 16px; font-weight: 500;}
#header.on nav>ul>li~li>a:after {content:"";display: block; width:1px ; height: 10px; background: #333; position: absolute; top: 50%; left: 0 ; transform: translateY(-50%);}
#header:hover nav>ul>li~li>a:after {content:"";display: block; width:1px ; height: 10px; background: #333; position: absolute; top: 50%; left: 0 ; transform: translateY(-50%);}

#header .right_icon ul {display: flex; justify-content: center;}
#header .right_icon ul>li>a {position: relative; display: block; padding: 0 15px; font-size: 14px; font-weight: 500;}
#header .right_icon ul>li~li>a:before {content:""; display: block; width: 1px; height: 10px; background: #666; position: absolute; top: 50%; left: 0; transform: translateY(-50%);}

#main_slider figure {height: 800px;}
#main_slider .main01 {background: url(../img/main_visual01.jpg) no-repeat center center/cover;}

#main_slider .container {position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); width: 1200px; padding: 0 15px; color: #fff; text-align: center;}
#main_slider h2 {font-size: 26px; font-weight: 500; letter-spacing: -0.025em; margin-bottom: 100px;}
#main_slider .container>a {display: block; width: 170px; border: 1px solid #ddd; border-radius: 25px;margin: 100px auto 100px auto; line-height: 50px;transition: 0.2s;}
#main_slider .container>a:hover {background: #fff; color: #ff3478; transition: 0.2s;}

#section01 {padding: 150px 0 75px 0;}
#section01 .section01_title {display:flex;justify-content:space-between;align-items:center;width: 1200px; margin: 0 auto 30px auto; padding: 3px 15px;}
#section01 .section01_title h2 {position: relative; font-size: 28px; font-weight: 500; letter-spacing: -0.025em; }
#section01 .my_place {border-bottom:1px solid #333;}
#section01 .section01_title strong {font-weight: 500;}
#section01 .container {display: flex; width: 1200px; margin: 0 auto; text-align: center;}
#section01 img {max-width: 100%;}
#section01 figure {flex: 1; padding: 0 15px;}
#section01 figure strong {display: block; font-size: 20px; margin: 15px 0 0 0;}

#section01 .case {overflow: hidden;}
#section01 figure img {transition: 0.4s;}
#section01 figure:hover img {transform: scale(1.2);}


#section02 {padding: 75px 0 75px 0;}
#section02 .section02_title {display:flex;justify-content:space-between;align-items:center;width: 1200px; margin: 0 auto 30px auto; padding: 0 15px;}
#section02 .section02_title h2 {position: relative; font-size: 28px; font-weight: 500; letter-spacing: -0.025em; }
#section02 .more {border: 1px solid #333; border-radius: 19px;width:100px; height:40px; text-align: center;}
#section02 .more a {display: block; line-height: 38px; font-weight: 500;}
#section02 .container {display: flex; width: 1200px; margin: 0 auto; text-align: center;}
#section02 .container figure {flex: 1; padding: 0 15px;}
#section02 .container img { max-width: 100%;}
#section02 .container .case {position: relative; overflow: hidden;}
#section02 .container p {position: absolute; top: 100%;left: 0; font-size: 20px; font-weight: 700; width: 100%; height: 100%; background: rgba(0,0,0,0.7);color: #fff; text-align: center; padding: 90px 0;}

#section02 .container .case:hover p {top: 0;}

#banner {background: #fee9f0; color: #ff3478; padding: 10px 0;}
#banner .width_banner {width: 1200px; margin: 0 auto; padding: 15px 15px;}
#banner .width_banner a {display:flex; justify-content: center; align-items: center; padding: 0 15px;}
#banner .width_banner a img {width: 50px; height: 50px;}
#banner .width_banner a h2 {font-size: 16px; font-weight: 500; margin: 0 30px;}
#banner .width_banner a i {font-size: 16px;}

#section03 {padding: 150px 0 75px 0;}
#section03 .section03_title {align-items:center; width: 1200px; margin: 0 auto 0 auto; padding: 3px 15px;}
#section03 .section03_title h2 {font-size: 28px; font-weight: 500; letter-spacing: -0.025em; }
#section03 .slider_tab {display: flex; margin-bottom:15px;}
#section03 .slider_tab li {display:inline-block; position: relative; border: 1px solid #333; border-radius: 19px; width:100px; height:38px; text-align: center; line-height: 34px; margin:15px 15px 15px 15px;transition: 0.2s;}
#section03 .slider_tab li:first-child {margin: 15px 15px 12px 0;}
#section03 .slider_tab li.on {border:1px solid #ff3478; border-radius: 19px; color:#ff3478;transition: 0.2s;}


#section03 .container {position:relative; width: 1200px; height: 370px; margin: 0 auto; padding: 0 15px;}
#section03 .container .sub_slide{position:absolute;top:0;left:0;width:100%;visibility:hidden;}
#section03 .container .sub_slide.on {visibility:visible;}


#section03 .element {position: relative; padding: 0 15px;}
#section03 .sub_slide .text_box01 {position: absolute; top: 50%; left: 75%; margin: 0 auto; padding: 0 15px; text-align: center; transform:translate(-50%, -50%);}
#section03 .sub_slide .text_box01 h3 {font-size: 28px; font-weight: 300; margin: 15px 0;}
#section03 .sub_slide .text_box01 h3:after {content: ""; display: block; width: 50px; height: 1px; background: #333; margin: 30px auto 37px auto;}
#section03 .sub_slide .text_box01 span {display: inline-block; font-weight: 500; line-height: 25px; margin: 10px auto 33px auto;}
#section03 .sub_slide .text_box01 a {display: inline-block; border: 1px solid #333; border-radius: 15px; width: 70px; height: 30px; font-size: 14px; text-align: center; line-height: 28px; margin: 0 15px}

#section03 .sub_slide .text_box02 {position: absolute; top: 50%; left: 75%; margin: 0 auto; padding: 0 15px; text-align: center; transform:translate(-50%, -50%);}
#section03 .sub_slide .text_box02 h3 {font-size: 28px; font-weight: 300; margin: 15px 0;}
#section03 .sub_slide .text_box02 h3:after {content: ""; display: block; width: 50px; height: 1px; background: #333; margin: 30px auto 37px auto;}
#section03 .sub_slide .text_box02 span {display: inline-block; font-weight: 500; line-height: 25px; margin: 10px auto 33px auto;}
#section03 .sub_slide .text_box02 a {display: inline-block; border: 1px solid #333; border-radius: 15px; width: 70px; height: 30px; font-size: 14px; text-align: center; line-height: 28px; margin: 0 15px}

#section03 .sub_slide .text_box03 {position: absolute; top: 50%; left: 75%; margin: 0 auto; padding: 0 15px; text-align: center; transform:translate(-50%, -50%);}
#section03 .sub_slide .text_box03 h3 {font-size: 28px; font-weight: 300; margin: 15px 0;}
#section03 .sub_slide .text_box03 h3:after {content: ""; display: block; width: 50px; height: 1px; background: #333; margin: 30px auto 37px auto;}
#section03 .sub_slide .text_box03 span {display: inline-block; font-weight: 500; line-height: 25px; margin: 10px auto 33px auto;}
#section03 .sub_slide .text_box03 a {display: inline-block; border: 1px solid #333; border-radius: 15px; width: 70px; height: 30px; font-size: 14px; text-align: center; line-height: 28px; margin: 0 15px}

#notice {background: #ccc; color: #333; padding: 25px 0;}
#notice .notice_box {width: 1200px;margin: 0 auto;}
#notice .container {display:flex; justify-content:space-between; align-items: center; padding: 0 15px;}
#notice .container h2 {font-size: 18px; font-weight: 500; width: 200px; letter-spacing: -0.025em;}
#notice .container .notice_link {width: 500px; letter-spacing: -0.025em;}
#notice .container .slider_option i {font-size: 16px; letter-spacing: -0.025em;}
#notice .container .slider_option span {font-size: 14px; font-weight: 300; transition: 0.5s;}

#footer {background: #333; color: #f4f4f4; font-size: 12px; font-weight: 300;}
#footer .group {display: flex; justify-content: space-between; width: 1200px; margin: 0 auto; padding: 44px 15px 44px 15px;}
#footer .group p {line-height: 25px;}
#footer .group figure img {width: 140px;}

#footer hr {border: 0px solid #666; border-bottom: 1px solid #666}

#footer .company {display: flex; justify-content: space-between; width: 1200px; margin: 0 auto; padding: 44px 15px 44px 15px;}
#footer .company a {padding: 0 10px;}