@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#header h1 {position: fixed; top: 50px; left: 50px; font-family: 'Open Sans', sans-serif; font-weight: 300 ; z-index: 999;}

.section {background: #fff url(../img/bg01.png)}
.section:nth-child(even) {background: #fff url(../img/bg02.png);}
.container {text-align: center;}

.sc01 h2 {font-family: 'Abril Fatface', cursive; font-size: 150px; margin-bottom: 50px;transform: translateY(100px); opacity: 0;}
.sc01.on h2 {transform: translateY(0); opacity: 1; transition: 0.8s;}

.sc01 p {font-family: 'Open Sans', sans-serif; font-size: 18px; font-weight: 300; margin-bottom: 50px;transform: translateY(100px); opacity: 0;}
.sc01.on P {transform: translateY(0); opacity: 1; transition: 0.8s 0.5s;}

.sc01 figure {width: 250px; margin: 0 auto; background: #000; margin-bottom: 30px; border-radius: 50%; overflow: hidden; transform: scale(0.3); opacity: 0; position: relative;}
.sc01 figure:before {content:"\e91c"; display: block; width: 100%; height: 100%; position:absolute; top: 0; left: 0; background: url(../img/bg04.png);font-family: xeicon!important; opacity: 0.5; color: #fff; font-size: 80px;}
.sc01.on figure {transform: scale(1);opacity: 1;transition: 0.8s 0.5s;}
.sc01 figure img {width: 100%;}
