html {font-size: 20px;}
body {font-size: 0.8rem;}

/*{outline:  1px solid #f00;}*

/* PC버전 */

.container {display: flex; width: 60rem; margin:0 auto;}
.container>* {padding: 0 0.75rem}



.warp {min-width: 60rem;}
.header {position: relative;}
.header .top_menu {line-height: 3.75rem; position: fixed; top: 0; left: 0; width: 100%;background: #fff; z-index: 999;}
.header .container {justify-content: space-between;}
.header h1 img {width: 7.5rem;}

.header .search {}
.header .search input {outline: none; width: 15rem; height: 1.5rem; border: 1px solid #5e5048 ; border-radius: 50px; padding: 0 0.5rem}
.header .search button {border: none; background: none; cursor: pointer;}


.top_nav ol {display: flex;}
.top_nav ol>li a {font-size: 0.6rem;}
.top_nav ol>li~li a:before {content: ""; display: inline-block; width: 1px; height: 0.4rem; margin: 0 0.3rem;  background: #ddd;}
.top_nav ol>li a i {vertical-align: sub; font-size: 0.8rem;}

.mopen {display: none;}


.bottom_menu {position: relative; width: 60rem; margin:0 auto; padding-top: 3.75rem; line-height: 5rem;}
.bottom_menu .gnb {display: flex; justify-content: space-between; position: relative}
.bottom_menu .gnb>li {text-align: center; position: relative}
.bottom_menu .gnb>li>a {display: block; padding: 0 1.25rem; font-size: 0.8rem;}
.bottom_menu .gnb>li>a:after {content: ""; display: block; position: absolute; top: 70%; left: 50%; width: 0; height: 2px; background: #5e5048; transform: translate(-50%, -70%); transition: 0.5s;}
.bottom_menu .gnb>li>a:hover:after {width: 2.5rem;}
.bottom_menu .gnb>li .sub_menu {display: none; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); width: 20vw; text-align: center; background: #fff; line-height: 2rem; border: 1px solid #ddd; z-index: 999;}
.bottom_menu .gnb>li:hover .sub_menu {display: block}
.bottom_menu .gnb>li .sub_menu a::before {content: "#"}
 

.bottom_menu.dl-up {top: 0px; transition: top 0.5s ease-in-out; -moz-transition: top 0.5s ease-in-out; -webkit-transition: top 0.5s ease-in-out; }
.bottom_menu.dl-down.dl-hover-out {top: 100px; transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;}


.pc_bottom_menu {display: none;}
.pc_bottom_menu.on {display: block; position: fixed; top:3.75rem; background: #fff; width: 100%; height: 5rem; z-index: 999;}
.pc_bottom_menu .nav {display: block; position: relative; width: 60rem; margin:0 auto; line-height: 5rem;z-index: 999;}
.pc_bottom_menu .nav>.gnb {display: flex; justify-content: space-between; position: relative}
.pc_bottom_menu .nav>.gnb>li {text-align: center; position: relative}
.pc_bottom_menu .nav>.gnb>li>a {display: block; padding: 0 1.25rem; font-size: 0.8rem;}
.pc_bottom_menu .nav>.gnb>li>a:after {content: ""; display: block; position: absolute; top: 70%; left: 50%; width: 0; height: 2px; background: #5e5048; transform: translate(-50%, -70%); transition: 0.5s;}
.pc_bottom_menu .nav>.gnb>li>a:hover:after {width: 2.5rem;}
.pc_bottom_menu .nav>.gnb>li .sub_menu {display: none; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); width: 20vw; background:#fff; text-align: center; line-height: 2rem; border: 1px solid #ddd; z-index: 999;}
.pc_bottom_menu .nav>.gnb>li:hover .sub_menu {display: block}
.pc_bottom_menu .nav>.gnb>li .sub_menu a {font-size: 0.75rem; padding: 0 30px;}
.pc_bottom_menu .nav>.gnb>li .sub_menu a::before {content: "#"}


.main_slider {position: relative;}
.main_slider .visual_slider {background: #333; height:calc(100vh - 8.75rem);}
.main_slider .visual_01 {height:calc(100vh - 8.75rem);background: url(../img/bg_img01.jpg) no-repeat center center/cover;}
.main_slider .visual_02 {height:calc(100vh - 8.75rem);background: url(../img/bg_img02.jpg) no-repeat center center/cover;}
.main_slider .visual_03 {height:calc(100vh - 8.75rem);background: url(../img/bg_img03.jpg) no-repeat center center/cover;}

.main_slider .slick-dots {position: absolute; bottom: 20%; left: 0; transform: translateX(-23vw); text-align: center; width: 100%; z-index: 900;}
.main_slider .slick-dots li {display: inline-block; width: 3rem; height: 0.3rem; background: rgba(255, 255, 255, 0.5); border-radius: 0.1rem; margin: 0 0.25rem; overflow: hidden;}
.main_slider .slick-dots li button {display: none;}
.main_slider .slick-dots li:after {content: ""; display: block; width: 0; height: 100% ;background: #5f5049;}
.main_slider .slick-dots li.slick-active:after {width: 100%; transition: 3s;}

.main_slider .textbox01 {width: 30vw; height: 100vh; background: #72655f; margin-left: 11.91vw;}
.main_slider .textbox02 {width: 30vw; height: 100vh; background: #888; margin-left: 11.91vw;}
.main_slider .textbox03 {width: 30vw; height: 100vh; background: #e7c331; margin-left: 11.91vw;}
.main_slider .text {display: block; position: relative; text-align: center; padding-top: 40%;}
.main_slider .text h2 {font-size: 1.5rem; font-weight: 500 ;color:#fff;line-height: 2;}
.main_slider .text p {font-size: 0.8rem; color:#fff; line-height: 1;}
.main_slider .text p:after {content: ""; display: block; position: absolute; top: 60%; left: 50%; transform: translateY(85%); width: 1px; height: 30px; background: #fff;}
.main_slider .text strong {font-size: 1.5rem; font-weight: 100; letter-spacing: 0.2rem; line-height: 5; color:#fff}
.main_slider .text span {font-size: 0.75rem;color:#fff}

.main_slider .text .btn01 {display: block; color:#fff}
.main_slider .text .btn01 span {display: inline-block; width: 0; height: 16px; white-space: nowrap;overflow: hidden; transition: 0.5s;}
.main_slider .text .btn01:hover span {width: 100px;}
.main_slider .text .btn02 {display: block; color:#fff}
.main_slider .text .btn02 span {display: inline-block; width: 0; height: 16px; white-space: nowrap;overflow: hidden; transition: 0.5s;}
.main_slider .text .btn02:hover span {width: 100px;}
.main_slider .text .btn03 {display: block; color:#fff}
.main_slider .text .btn03 span {display: inline-block; width: 0; height: 16px; white-space: nowrap;overflow: hidden; transition: 0.5s;}
.main_slider .text .btn03:hover span {width: 100px;}


.main_slider .circle {display: block; position: absolute; top: 50%; left: 70%; transform: translate(-50%, -50%); width: 25vw; height: 25vw; text-indent: -9999px; border-radius: 50%; box-shadow: 25px 25px 40px -15px #111; overflow: hidden;}
.main_slider .circle figure {height: 25vw;}
.main_slider .circle .slider_img01 {background: url(../img/circle_img01.jpg) no-repeat center center/cover;}
.main_slider .circle .slider_img02 {background: url(../img/circle_img02.jpg) no-repeat center center/cover;}
.main_slider .circle .slider_img03 {background: url(../img/circle_img03.jpg) no-repeat center center/cover;}



.season_product01 {padding: 5rem 0 5rem 0; text-align: center;}
.season_product01 .container {display: flex; justify-content: space-between; align-items: center;}
.season_product01 h2 {font-size: 1.5rem; font-weight: 100; margin-bottom: 1.5rem;}
.season_product01 .pd_slider {width: 60rem; margin: 0 auto;}
.season_product01 img {max-width: 100%;}
.season_product01 figure {padding: 0 0.75rem;}
.season_product01 figure strong {display: block; margin: 0.5rem 0;}
.season_product01 figure span {display: block; margin: 0.5rem 0;}
.season_product01 figure span.price {color: #ff3478;}

.season_product01 .case {overflow: hidden;}
.season_product01 figure img {transition: 0.4s;}
.season_product01 figure:hover img {transform: scale(1.2);}


.season_product01 .slick-dots {position: relative; text-align: center;}
.season_product01 .slick-dots li {display: inline-block; width: 10px; height: 10px; background: #ddd; border-radius: 50%; margin: 0 0.25rem;}
.season_product01 .slick-dots li button {display: none;}
.season_product01 .slick-dots li.slick-active {background: #5e5048;}

.slogan {background: #f9f9f9;padding: 2.5rem 0; text-align: center;}
.slogan span {font-size: 1.5rem;font-weight: 100; letter-spacing: 0.2rem;line-height: 2;}
.slogan h2 {font-size: 2rem;font-weight: 500; letter-spacing: 0.2rem; margin-bottom: 2rem; color: #5e5048}
.slogan p {font-size: 0.8rem;font-weight: 300; letter-spacing: -0.025rem; line-height: 1.5;}


.tab {padding: 5rem 0;}
.tab h2 {font-size: 1.5rem; font-weight: 100; margin-bottom: 1.5rem; text-align: center;}
.tab .container {justify-content: space-between;}
.tab .tab_menu li a {display: block; line-height: 40px; padding: 0 20px; margin: 0.35rem 0; border: 1px solid #333; color: #333; text-align: center;}
.tab .tab_menu li a:before {content: "#";}
.tab .tab_menu li {text-align: center; line-height: 40px;}
.tab .tab_menu li.on {background: #5e5048;}
.tab .tab_menu li.on a {color: #fff;}


.tab .tab_con {position: relative; width: 50rem; margin-right: 0.75rem;}
.tab .tab_con .tab_slider {position: absolute; top:0; left: 0; width: 100%; visibility: hidden;}
.tab .tab_con .tab_slider.on {visibility: visible;}
.tab .tab_con figure {padding: 0 0.75rem;}
.tab .tab_con figure img {width: 100%;}




/* Mobile버전 */

@media screen and (max-width: 768px) {

    html {font-size: 20px;}
    body {font-size: 0.8rem;}

    .container {display: flex; width: auto; margin:0 auto;}
    .container>* {padding: 0 0.75rem}


    .warp {min-width: auto; position: relative;}
    .header .top_menu {line-height: 5rem; position: relative; background: #fff;}
    .header .container {justify-content: space-between; height: 5.5rem;}

    .header h1 img {width: 5rem;}

    .header .search {display: block; position: fixed; top: 0.5rem; right: 17vw; opacity: 0; z-index: 1000;}
    .header .search.on {opacity: 1;transition: 0.5s;}
    .header .search input {outline: none; width: 30vw; height: 1.5rem; border: 1px solid #333 ; border-radius: 50px;}
    .header .search button {border: none; background: none;}

    .top_nav ol {display: flex; padding:0.5rem 1.45rem 0 0;}
    .top_nav ol>.mypage {display: block; font-size: 0.6rem; padding-left: 0.75rem;}
    .top_nav ol>.mypage.on {display: none;}
    .top_nav ol>.mypage a {font-size: 0.6rem; padding-left: 0.75rem;}
    .top_nav ol>li~li a::before {content: ""; display: none; width: 1px; height: 0.4rem; margin: 0 0.3rem;  background: #ddd;}
    .top_nav ol>.category {display: none; vertical-align: sub; font-size: 0.8rem;}

    .mopen {display: block; position: absolute; top: 0.5rem; right: 0.75rem; z-index: 1000;}
    .mopen i {font-size: 0.7rem;}

    .bottom_menu {position: fixed; top: 0; right: -100%; background: #fff; border-left: 1px solid #ddd; width:calc(100% - 20%); height: 100vh; transition: 0.5s; z-index: 998;}
    .bottom_menu.on {right: 0;}
    .bottom_menu .gnb {display: flex; flex-direction:column;}
    .bottom_menu .gnb>li {text-align: center;position: relative; top:2.5rem;}
    .bottom_menu .gnb>li>a {display: block; padding: 0 1.25rem; font-size: 0.7rem; line-height: 2rem;}
    .bottom_menu .gnb>li>a:after {content: ""; display: none; position: absolute; top: 50%; left: 50%; width: 0; height: 2px; background: #f00; transform: translate(-50%, -50%); transition: 0.5s;}
    .bottom_menu .gnb>li>a:hover:after {width: 100%;height: 2px;}
    .bottom_menu .gnb>li .sub_menu {display: none; position: static;transform: translate(0, 0); width: 74.5vw; height: 30vw; overflow-y: auto; text-align: center; background: #fff; line-height: 2rem; margin: 0 auto; border: 1px solid #ddd; z-index: 999;}
    .bottom_menu .gnb>li .sub_menu a{display: block; font-size: 0.7rem; padding: 0.25rem;}
    .bottom_menu .gnb>li:hover .sub_menu {display: none}
    .bottom_menu .gnb>li .sub_menu a::before {content: "#"} 

    .pc_bottom_menu {display: none;}

    .main_slider {position: relative;}
    .main_slider .visual_slider {background: #333; height: calc(100vh - 1.67815rem); position: relative;}
    .main_slider .visual_01 {position: relative;height:calc(100vh - 1.67815rem); background: url(../img/bg_img01.jpg) no-repeat left bottom/cover;}
    .main_slider .visual_02 {position: relative;height:calc(100vh - 1.67815rem); background: url(../img/bg_img02.jpg) no-repeat left bottom/cover;}
    .main_slider .visual_03 {position: relative;height:calc(100vh - 1.67815rem); background: url(../img/bg_img03.jpg) no-repeat left bottom/cover;}
    
    .main_slider .textbox01 {position: absolute; top: 50%; left: 0; width: 100vw; height: 40vh; background: #72655f; margin: 0;}
    .main_slider .textbox02 {position: absolute; top: 50%; left: 0; width: 100vw; height: 40vh; background: #888; margin: 0}
    .main_slider .textbox03 {position: absolute; top: 50%; left: 0; width: 100vw; height: 40vh; background: #e7c331; margin: 0}
    .main_slider .text {display: block; position: relative; text-align: center; padding-top:20%}
    .main_slider .text h2 {font-size: 7vw; font-weight: 500 ;color:#fff;line-height: 1;}
    .main_slider .text p {font-size: 5vw; color:#fff; line-height: 3;}
    .main_slider .text p::after {content: ""; display: block; position: absolute; top: 60%; left: 50vw; transform: translateY(0); width: 1px; height: 5vw; background: #fff;}
    .main_slider .text strong {font-size: 7vw; font-weight: 100; letter-spacing: 0.2rem; line-height: 3; color:#fff}
    .main_slider .text span {font-size: 1vw;color:#fff}

    .main_slider .slick-dots {position: absolute; bottom: 2.5%; left: 0; transform: translateY(-50%); text-align: center; width: 100vw; z-index: 900;}
    .main_slider .slick-dots li {display: inline-block; width: 3rem; height: 0.2rem; background: rgba(255, 255, 255, 0.5); border-radius: 0.1rem; margin: 0 0.25rem; overflow: hidden;}
    .main_slider .slick-dots li button {display: none;}
    .main_slider .slick-dots li:after {content: ""; display: block; width: 0; height: 100% ;background: #5f5049;}
    .main_slider .slick-dots li.slick-active:after {width: 100%; transition: 3s;}
    
    .main_slider .text .btn01 {display: block; color:#fff}
    .main_slider .text .btn01 span {display: none; width: 0; height: 16px; white-space: nowrap;overflow: hidden; transition: 0.5s;}
    .main_slider .text .btn02 {display: block; color:#fff}
    .main_slider .text .btn02 span {display: none; width: 0; height: 16px; white-space: nowrap;overflow: hidden; transition: 0.5s;}
    .main_slider .text .btn03 {display: block; color:#fff}
    .main_slider .text .btn03 span {display: none; width: 0; height: 16px; white-space: nowrap;overflow: hidden; transition: 0.5s;}
    
    
    .main_slider .circle {display: block; position: absolute; top: 10vh; left: 50vw; transform: translate(-50%, 0); width: 80vw; height: 80vw; text-indent: -9999px; border-radius: 50%; box-shadow: 25px 25px 40px -15px #111; overflow: hidden;}
    .main_slider .circle figure {height: 80vw;}
    .main_slider .circle .slider_img01 {background: url(../img/circle_img01.jpg) no-repeat center center/cover;}
    .main_slider .circle .slider_img02 {background: url(../img/circle_img02.jpg) no-repeat center center/cover;}
    .main_slider .circle .slider_img03 {background: url(../img/circle_img03.jpg) no-repeat center center/cover;}
    

    .season_product01 {padding: 5rem 0 2.5rem 0; text-align: center;}
    .season_product01 .container {display: flex; justify-content: space-between; align-items: center;}
    .season_product01 h2 {font-size: 6vw; font-weight: 100; margin-bottom: 1.5rem;}
    .season_product01 p {font-size: 2vw; font-weight: 500; margin-bottom: 1.5rem;}
    .season_product01 .pd_slider {width: 100%; margin: 0 auto;}
    .season_product01 img {max-width: 100%;}
    .season_product01 figure {padding: 0 0.75rem;}
    .season_product01 figure strong {display: block; margin: 0.5rem 0;}
    .season_product01 figure span {display: block; margin: 0.5rem 0;}
    .season_product01 figure span.price {color: #ff3478;}
    
    .season_product01 .case {overflow: none;}
    .season_product01 figure img {transition: none;}
    .season_product01 figure:hover img {transform: none;}
    
    
    .season_product01 .slick-dots {position: relative; text-align: center;}
    .season_product01 .slick-dots li {display: inline-block; width: 10px; height: 10px; background: #ddd; border-radius: 50%; margin: 0 0.25rem;}
    .season_product01 .slick-dots li button {display: none;}
    .season_product01 .slick-dots li.slick-active {background: #5e5048;}


    .slogan {background: #f9f9f9;padding: 2.5rem 0; text-align: center;}
    .slogan span {font-size: 6vw;font-weight: 100; letter-spacing: 0.2rem;line-height: 2;}
    .slogan h2 {font-size: 15vw;font-weight: 500; letter-spacing: 0.2rem; margin-bottom: 2rem; color: #5e5048}
    .slogan p {font-size: 3vw;font-weight: 300; letter-spacing: -0.025rem; line-height: 1.5;}
    
    
    .tab {padding: 5rem 0;}
    .tab h2 {font-size: 6vw; font-weight: 100; margin-bottom: 1.5rem; text-align: center;}
    .tab .container {flex-direction: column; width: auto; margin:0 auto;}
    .tab .tab_menu {display: flex;justify-content: space-between;}
    .tab .tab_menu li a {display: block; font-size: 3vw;line-height: 30px; padding: 0 10px; margin: 0.35rem 0; border: none; color: #333; text-align: center;}
    .tab .tab_menu li a:before {content: "#";}
    .tab .tab_menu li {text-align: center;}
    .tab .tab_menu li.on {background: #fff;}
    .tab .tab_menu li.on a {color: #333;}
    
    
    .tab .tab_con {position: relative; width: auto; margin-right: 0.75rem;}
    .tab .tab_con .tab_slider {position: absolute; top:0; left: 0; width: 100%; visibility: hidden;}
    .tab .tab_con .tab_slider.on {visibility: visible;}
    .tab .tab_con figure {padding: 0 0.75rem;}
    .tab .tab_con figure img {width: 100%;}
    




}


